@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --bg-dark:#000;
    --bg-main:#50577A;
    --main-color:#E94560;
    --overlay:rgb(233, 69, 96,.7);
    --white-color:#fff;
    --border:.05rem solid #E94560;
    --font-family:'Sofia Sans Semi Condensed', sans-serif;
    --transition:.7s ;
}

::-webkit-scrollbar {
    background-color: var(--bg-main);
    /* border: .01rem solid var(--bg-dark); */
    border-radius: 1rem;
    padding: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 1rem;
}

body{
    background:linear-gradient(45deg , var(--bg-dark) , var(--bg-main));
    color: #fff;
    overflow: hidden;
    scroll-behavior: smooth;
}
img{
    cursor: pointer;
}




/* Start Loading  */
#isLoading{
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
}
#isLoading h2 {
    color: var(--main-color);
}
#isLoading h2::after{
    content: '|';
    animation: typing 1s infinite alternate;
}

@keyframes typing {
    0%{content: 'L|';}
    7%{content: 'Lo|';}
    14%{content: 'Loa|';}
    21%{content: 'Load|';}
    28%{content: 'Loadi|';}
    35%{content: 'Loadin|';}
    42%{content: 'Loading|';}
    49%{content: 'Loadin|';}
    56%{content: 'Loadi|';}
    63%{content: 'Load|';}
    70%{content: 'Loa|';}
    77%{content: 'Lo|';}
    84%{content: 'L|';}
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--main-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
/* Start Navbar  */
.navbar {
    z-index: 9999 ;
    background-color: var(--bg-main) !important;
}
.nav-link {
    font-weight: bold;
}

.navbar-nav .dropdown-menu{
    background-color: #50577A;
    transition: var(--transition);
}



.navbar-nav .dropdown-menu li a:hover{
    background: var(--main-color);
}

.navbar-nav .dropdown-menu a {
    color: var(--white-color);
transition: var(--transition);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: var(--main-color);
}


button:focus:not(:focus-visible){
    border:.01rem solid var(--main-color);
    color: var(--main-color);
}
/* start home  */
.home {
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* start review  */
.review-caption{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-caption h3 {
    position: relative;
}
.review-caption h3::after {
   content: '';
   width: 100%;
   height: .2rem;
   background-color: var(--main-color);
   position: absolute;
   bottom: -.5rem;
   left: 0;
}

.reviews .image {
    position: relative;
    cursor: pointer;
}

.reviews .image::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg , rgba(80, 87, 122,.7) , rgba(255, 255, 255,.7));
    position: absolute;
    top: 100%;
    left: 0;
    transition: var(--transition);
}


.reviews .image:hover.image::after{
    top: 0;
    box-shadow: 1px 1px 10px  var(--main-color) inset;
}


footer span {
    color: var(--main-color);
}
/* ------------------------------------------- */
/* Movies Style  */
.movies .rate {
    width: 4rem;
    height: 2rem;
    text-align: center;
    background-color: var(--main-color);
    
}

.movies .caption {
    background-color: var(--bg-main);
}
